h1{
    color: aqua;
    font-size:medium;
    font-family: sans-serif;
}
h2{
    font-weight: 100;
    font-size: medium;
    text-shadow: blue;
}
body{
    background-color: cornflowerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-style: italic;
}