h1{
   background-color: blanchedalmond;
    font-size:medium;
    font-family: sans-serif;
}
<<<<<<< HEAD
h2{
    font-weight: 100;
    font-size: medium;
    text-shadow: blue;
}
body{
    background-color: cornflowerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-style: italic;
=======
p{
background-color: blue;
font-size: large;
text-align: center;}
body{
background color: black;
>>>>>>> master
}