h1{
   background-color: blanchedalmond;
    font-size:medium;
    font-family: sans-serif;
}
p{
background-color: blue;
font-size: large;
text-align: center;}
body{
background color: black;
}
. author{
    color:red;
font -size 12px;

}
.intro{
    font-size: 15px;
    color: darkcyan;

}